name: Build Stack

on:
  push:
    branches:
      - main

env:
  DOCKER_COMMAND: docker
  IMAGE_NAME: ghcr.io/eclipse-slm/slm-monitoring-prometheus-aas
  VERSION: 0.0.1-SNAPSHOT

jobs:
  build-and-push:
    runs-on: ubuntu-latest
    permissions:
      contents: read
      packages: write
    steps:
      - uses: actions/checkout@v4
      - uses: actions/setup-java@v4
        with:
          java-version: '18'
          distribution: 'temurin'
      - name: Run the Maven verify phase
        run: mvn --batch-mode --update-snapshots verify
      - name: Build docker image
        working-directory: ./
        run: $DOCKER_COMMAND image build . --no-cache -t $IMAGE_NAME:$VERSION
      - name: Login to Docker Registry
        uses: docker/login-action@v2
        with:
          registry: ghcr.io
          username: ${{github.actor}}
          password: ${{secrets.GITHUB_TOKEN}}
      - name: Push docker image
        working-directory: ./
        run: $DOCKER_COMMAND image push $IMAGE_NAME:$VERSION
